syntax: glob

config.h
config.mk
bin/ps4-alternatives/ps4-alternatives
bin/ps4-create/ps4-create
bin/ps4-dgraph/ps4-dgraph
bin/ps4-fbulk/ps4-fbulk
bin/ps4-install/ps4-install
bin/ps4-pkgdb/ps4-pkgdb
bin/ps4-query/ps4-query
bin/ps4-reconfigure/ps4-reconfigure
bin/ps4-remove/ps4-remove
bin/ps4-rindex/ps4-rindex
bin/ps4-uhelper/ps4-uhelper
bin/ps4-uchroot/ps4-uchroot
bin/ps4-checkvers/ps4-checkvers
bin/ps4-uunshare/ps4-uunshare
bin/ps4-digest/ps4-digest
bin/ps4-fetch/ps4-fetch
*.static
*.so*
*.o
*.a
*.xml
*.png
*.pc
api/
doc/ps4_api_doxyfile
ftperr.h
httperr.h
tests/*/*/*/*_test
tests/*/*/*/*_tests
tests/*/*/*_test
tests/*/*/*_tests
include/ps4.h

# vim backup files
.*.swp
*~
